/* presentacion pagina */

.presentacion {
    text-align: center;
    margin: 15% 0;
}

.presentacion .presentacion_imagen-helado {
    height: 7rem;
    padding: 1em;
    vertical-align: -2rem;
}

.presentacion .presentacion_nombre_empresa {
    font-family: 'Carattere', cursive;
    font-size: 7rem;
    color: #04C4D9;
}

.presentacion .presentacion_antiguedad {
    font-size: 2em;
    letter-spacing: 0.5em;
}


/* historia */

.container {
    display: flex;
    flex-direction: column;
    margin: 0 3rem;
}

.container .containerInfo {
    background-color: #F4896B;
    margin: 3rem 0;
    padding: 3rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.container .containerInfo .titulo {
    font-family: 'Carattere', cursive;
    font-size: 5rem;
    padding: 2rem;
    font-weight: 100;
}

p {
    font-size: 2rem;
}


/* sucursales */

.container .containerInfo .containerInfoSucursal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
}

.container .containerInfo .containerInfoSucursal .containerInfoSucursalNom {
    font-weight: 700;
}

iframe {
    border-style: none;
    border-radius: 2rem;
    margin: 2rem 0;
}


@media (max-width: 1260px) {
    .presentacion .presentacion_antiguedad {
        font-size: 1.5rem;
    }
}

@media (max-width: 1120px) {
    .container .containerInfo .containerInfoSucursal {
        grid-template-columns: 1fr;
        column-gap: 0;
    }
}


/* pantallas hasta 922pixeles */

@media (max-width: 922px) {

    .presentacion .presentacion_antiguedad {
        font-size: 1.2rem;
    }

}

@media (max-width: 768px){
    
    /* */

    .presentacion .presentacion_nombre_empresa {
        font-size: 5rem;
    }

    .presentacion .presentacion_imagen-helado {
        height: 5rem;
        padding: 1em;
        vertical-align: -2rem;
    }

    .presentacion .presentacion_antiguedad {
        font-size: 0.8rem;
    }

    .container {
        margin: 0;
    }

    .container .containerInfo {
        border-radius: 0;
    }
}

@media (max-width: 520px){

    .container .containerInfo{
        padding: 3rem 1rem;
    }

    .presentacion .presentacion_nombre_empresa, .container .containerInfo .titulo {
        font-size: 3rem;
    }

    p {
        font-size: 1.5rem;
    }

    .presentacion .presentacion_imagen-helado {
        height: 3rem;
        padding: 1em;
        vertical-align: -1.5rem;
    }

    .presentacion .presentacion_antiguedad {
        font-size: 0.5rem;
    }

}

@media (max-width: 360px) {

}