
/* lista sabores */
#listaSabores{
    margin: 10rem 0;
}

.lista_sabores {
    display: grid;
}


.sabores .nuestros_sabores, .otros .nuestros_sabores {
    font-family: 'Carattere', cursive;
    font-size: 4em;
    text-align: center;
    color: #04C4D9;
    padding: 2rem 0;
}

.sabores .lista_sabores {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
}

.sabores .lista_sabores .listas_particulares {
    margin: 1rem;
    padding: 2rem;
    border-radius: 2rem;
    background-color:#71cad4;
    text-align: center;
}

.sabores .lista_sabores .listas {
    font-family: 'Carattere', cursive;
    font-size: 3em;
    color: #ffffff;

}
.sabores .lista_sabores .listas_particulares .gustos{
    color:white;
    font-family: 'Roboto', sans-serif;
}


img {
    height: 100%;
}

.otros {
    margin-top: 10rem;
    background-color:  #FFB8A1;
    color: #ffffff;
}

.otros .nuestros_sabores-2 {
    font-family: 'Carattere', cursive;
    font-size: 4em;
    text-align: center;
    padding: 2rem 0;
}

.otros .masProductos{
    padding: 3rem 0;
    display: grid;
    grid-template-columns: repeat(4, auto);
}


.otros .tipoProducto {
    text-align: center;
    padding: 2rem 0;
}

.otros .masProductos .tipoProducto .tipoProducto-nom {
    font-family: 'Carattere', cursive;
    font-size: 3rem;
}

.otros .masProductos .tipoProducto .helados{
    padding: 1rem 0;
    height: 15rem;
}

.otros .masProductos .tipoProducto .tacc{
    text-align: center;
}

.otros .tipoProducto .cada_sabor{
    padding: 2rem 0;
    font-size: 2rem;
    text-align: center;
}

.otros .tipoProducto .cada_saborPostres{
    padding: 2rem 0;
    font-size: 2rem;
    text-align: center;
    text-decoration: underline;
}

.otros .tipoProducto .cada_sabor .cadaSaborLista {
    font-size: 2rem;
}

@media (max-width: 1260px){
    .sabores .lista_sabores, .otros .masProductos{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }
}

@media (max-width: 768px){
    .sabores .lista_sabores, .otros .masProductos{
        grid-template-columns: 1fr
    }
}