
/* presentacion pagina */

.presentacion {
    text-align: center;
    margin: 15% 0;
}

.presentacion .presentacion_imagen-helado {
    height: 7rem;
    padding: 1em;
    vertical-align: -2rem;
}

.presentacion .presentacion_nombre_empresa {
    font-family: 'Carattere', cursive;
    font-size: 7rem;
    color: #04C4D9;
}

.presentacion .presentacion_antiguedad {
    font-size: 2em;
    letter-spacing: 0.5em;
}

/* introduccion empresa */

.sectionCarrusel {
    background-image: url(../imagenes/fondo-letras.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.sectionCarrusel .introduccion_empresa {
    text-align: center;
    padding: 2rem 0;
    margin: 0;
    color: #F4896B;
    width: 100%;
    backdrop-filter: blur(5px);
}


.sectionCarrusel .introduccion_empresa .lema {
    font-family: 'Carattere', cursive;
    font-size: 6rem;
    letter-spacing: 0.2rem;
    padding: 0.5rem;
    text-decoration: double;
}


/* intento de carrusel */

.sectionCarrusel .carrousel {
    width: 100%;
    padding: 1rem 0;
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 500px;
}

.sectionCarrusel .carrousel .carrousel-contenedor .carrousel-elemento {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.sectionCarrusel .carrousel .carrousel-contenedor {
    max-width: 100%
}

#carrousel-imagen-2, #carrousel-imagen-3, #carrousel-imagen-4, #carrousel-imagen-5, #carrousel-imagen-6 {
    display: none;
}

.sectionCarrusel .carrousel .carrousel-contenedor .carrousel-elemento .carrousel-imagen {
    border-radius: 4rem;
    margin: 1rem;
}

/* navegador puntitos */

.sectionCarrusel .carrousel .carrousel-contenedor .carrousel-nav {
    margin: 0 0 1rem 0;
}

.sectionCarrusel .carrousel .carrousel-contenedor .carrousel-nav i {
    font-family: 'Courier New', Courier, monospace;
    color: #F4896B;
    letter-spacing: 1rem;
    font-size: 1rem;
}


.infContainer{
    margin: 4rem 0;
    font-size: 2rem;
}

/* conocer mas */


.irPaginaEmpresa {
    background-color: #F4896B;
    margin: 15% 0 15% 35%;
    border-radius: 2rem 0 0 2rem;
    display: flex;
    flex-direction: row-reverse;
    padding: 6rem 0;
    justify-content: space-around;
    align-items: center;
    text-align: right;
    color: #fff;
    
}

.irPaginaEmpresa div {
    padding: 0 1rem;
}

.irPaginaEmpresa .linAcceder {
    background-color: #fff;
    color: #F4896B;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    border-radius: 2rem;
    transition: ease 1s;
}

.irPaginaEmpresa .linAcceder{
    .bi.bi-arrow-right-circle {
        display: none;
    }
}

.irPaginaEmpresa .linAcceder:hover{

    .bi.bi-arrow-right-circle {
        display: flex;
        color: #F4896B;
        font-size: 1.5rem;
        padding: 0 0.5rem;
    }

    letter-spacing: 0.1rem;
    padding: 4.2rem;
    transition: ease 1s;
}

/* registrarse */

.irRegistrarse {
    background-color: #F4896B;
    margin: 15% 35% 15% 0;
    border-radius: 0 2rem 2rem 0;
}

.irRegistrarse .irRegistrarseContainer {
    display: flex;
    padding: 6rem 0;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}

.irRegistrarse div {
    padding: 0 1rem;
}

.irRegistrarse .irRegistrarseContainer a {
    background-color: #fff;
    color: #F4896B;
    padding: 4rem 2rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: ease 1s;
}

.irRegistrarse .irRegistrarseContainer a {
    .bi.bi-arrow-right-circle {
        display: none;
    }
}

.irRegistrarse .irRegistrarseContainer a:hover{
    .bi.bi-arrow-right-circle {
        display: flex;
        color: #F4896B;
        font-size: 1.5rem;
        padding: 0 0.5rem;
    }

    letter-spacing: 0.1rem;
    padding: 4.2rem 2.2rem;
    transition: ease 1s;
}


.irProductos {
    background-color: #F4896B;
    margin: 15% 0 15% 35%;
    border-radius: 2rem 0 0 2rem;
    display: flex;
    flex-direction: row-reverse;
    padding: 6rem 0;
    justify-content: space-around;
    align-items: center;
    text-align: right;
    color: #fff;
}

.irProductos div {
    padding: 0 1rem;
}

.irProductos .irProductos-en {
    background-color: #fff;
    color: #F4896B;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem;
    border-radius: 2rem;
    transition: ease 1s;
}

.irProductos .irProductos-en {
    .bi.bi-arrow-right-circle {
        display: none;
    }
}

.irProductos .irProductos-en:hover {
    .bi.bi-arrow-right-circle {
        display: flex;
        color: #F4896B;
        font-size: 1.5rem;
        padding: 0 0.5rem;
    }

    letter-spacing: 0.1rem;
    padding: 4.2rem 2.2rem;
    transition: ease 1s;
}

footer {
    background-color: #F4896B;
    text-align: center;
    color: #fff;
}

footer .container_footer{
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
    font-family: 'Carattere', cursive;
}

footer .container_footer div {
    padding: 0 1rem;
}

.redes_footer{
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.nombre_footer{
    font-family: 'Carattere', cursive;
}


/* empiezan los ajustes de pantalla */


@media (max-width: 1260px) {
    .presentacion .presentacion_antiguedad {
        font-size: 1.5rem;
    }
    .sectionCarrusel .introduccion_empresa .lema {
        font-size: 4.5rem;
    }
}

@media (max-width: 1150px) {

    .sectionCarrusel .introduccion_empresa .lema {
        font-size: 4rem;
    }
}


/* pantallas hasta 922pixeles */

@media (max-width: 922px) {
    body {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    /* carrusel */
    .sectionCarrusel .introduccion_empresa .lema {
        font-size: 3.2rem;
    }

    .presentacion .presentacion_antiguedad {
        font-size: 1.2rem;
    }

}

@media (max-width: 768px){
    
    /* */

    .presentacion .presentacion_nombre_empresa {
        font-size: 5rem;
    }

    .presentacion .presentacion_imagen-helado {
        height: 5rem;
        padding: 1em;
        vertical-align: -2rem;
    }

    .presentacion .presentacion_antiguedad {
        font-size: 1rem;
    }

    .sectionCarrusel .introduccion_empresa .lema {
        font-size: 2.5rem;
    }

    /* mas info */

    .irPaginaEmpresa, .irProductos {
        margin: 15% 0 15% 25%;
    }
    
    .irRegistrarse {
        margin: 15% 25% 15% 0;
    }

}

@media (max-width: 480px){
    
}
