/* correcciones generales. margenes, listas, fuente, otros */
* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

ul {
    padding-left: 0;
}

a {
    text-decoration: none;
    color: #fff;
}


i {
    color: #fff;
}


/* nav */

.nav {
    background-color: #F4896B;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.nav .nav_primero , .nav_ultimo {
    margin: 1em;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
}

.nav .nav_primero {
    column-gap: 1em;
    display: flex;
}

.nav .nav_primero .nav_pagina:hover::after {
    font-family:'Bootstrap-icons';
    content: "\F22C";
    padding: 0 0 0 0.2em;
    vertical-align: -0.2em;
}

.nav .nav_ultimo {
    justify-items: right;
}

.nav .nav_ultimo i {
    cursor: pointer;
}

.nav .nav_ultimo .img_logo_principal {
    height: 2em;
}

.nav .nav_ultimo .logo_persona:hover::after {
    font-family:'Bootstrap-icons';
    content: "\F138";
    padding: 0 0 0 0.2em;
    vertical-align: -0.2em;
    color: #fff;
    cursor: pointer;
}

/* presentacion pagina */

.presentacion {
    text-align: center;
    margin: 10em 0;
}

.presentacion .presentacion_imagen-helado {
    height: 7em;
    padding: 1em;
    vertical-align: -2em;
}

.presentacion .presentacion_nombre_empresa {
    font-family: 'Carattere', cursive;
    font-size: 7em;
    color: #04C4D9;
}

.presentacion .presentacion_antiguedad {
    font-size: 2em;
    letter-spacing: 0.5em;
}

/* introduccion empresa */
.introduccion_empresa {
    background-color: #F4896B;
    text-align: center;
    padding: 2em 0;
    margin: 0;
    color: #fff;
    font-size: 2em;
    width: 100%;
}

.introduccion_empresa .lema {
    font-family: 'Carattere', cursive;
    font-size: 3em;
    letter-spacing: 0.2em;
    padding: 0.5em;
}

.introduccion_empresa .conocer-mas {
    padding: 1em;
}

/* intento de carrusel */

.carrousel {
    width: 100%;
    padding: 1em 0;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.5);
}

.carrousel .carrousel-contenedor .carrousel-elemento {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.carrousel .carrousel-contenedor .carrousel-elemento .carrousel-imagen {
    border-radius: 2em;
    scroll-snap-align: center;
    padding: 1em;
}

.carrousel .carrousel-contenedor .carrousel-nav .carrousel-nav-circulo .bi.bi-circle {
    color: rgba(0, 0, 0, 0.5);
    letter-spacing: 1em;
    font-size: 0.5em;
}

.carrousel .carrousel-contenedor .carrousel-nav .carrousel-nav-circulo .bi.bi-circle:hover {
    color: #fff;
    transition: 0.5s;
}

/* boton acceder */

.introduccion_empresa .lin_acceder {
    margin: 1em 0;
}

.introduccion_empresa .lin_acceder a {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5em;
    border-radius: 0.5em;
}

.introduccion_empresa .lin_acceder .bi.bi-chevron-double-right {
    font-size: 0.7em;
}

.introduccion_empresa .lin_acceder a:hover {
    padding: 0.5em 1em;
    transition: 0.5s linear;
    letter-spacing: 0.1em;
}




/* lista sabores */

.sabores {
    padding: 10em 0;
    display: grid;
    justify-self: center;
    align-self: center;
    font-weight: 800;
}

.sabores .nuestros_sabores {
    font-family: 'Carattere', cursive;
    font-size: 5em;
    text-align: center;
    padding: 0 0 1.5em 0;
    color: #04C4D9;
}

.sabores .lista_sabores {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 1em;
    row-gap: 1em;
    
}

.sabores .lista_sabores .listas_particulares {
    margin: 1em;
    padding: 2em;
    border-radius: 2em;
    background-color: rgba(244, 137, 107, 0.5);
    text-align: center;
}

.sabores .lista_sabores .listas {
    font-family: 'Carattere', cursive;
    font-size: 3em;
    color: #ffffff;
}

/* formulario */

.formulario {
    background-color: #F4896B;
    padding: 1em;
    font-size: 1.5em;
    color: #fff;
    text-align: center;
}

.formulario .formulario_registrate {
    font-family: 'Carattere', cursive;
    font-size: 4em;
    padding: 0.5em 0;
}

/* grid para separar imagen de formulario */

.formulario .formulario_columnas {
    display: flex;
    flex-direction:row;
    padding: 1em 0;
    align-items: center;
    justify-content: space-around;
}

/* grid para separar formulario de nombre de pagina */

.formulario .formulario_columnas .formulario_completar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr;
}

/* grid para separar el formulario y ordenarlo */

.formulario .formulario_columnas .formulario_completar .formulario_completar-casilla {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
}

/* dandole forma a los componentesd el formulario */

.formulario .formulario_columnas .formulario_completar .formulario_completar-casilla div {
    display: flex;
    width: 100%;
    padding: 0.2em 0;
}

.formulario .formulario_columnas .formulario_completar .formulario_completar-casilla div:nth-child(2) {
    display: grid;
}

.formulario .formulario_columnas .formulario_completar .formulario_completar-casilla div:nth-child(3) {
    display: grid;
}

.formulario .formulario_columnas .formulario_completar .formulario_completar-casilla div:nth-child(4) {
    display: grid;
}

.formulario .formulario_columnas .formulario_completar .formulario_completar-casilla div:last-child {
    justify-content: center;
}

.formulario .formulario_columnas .formulario_completar .formulario_completar-casilla div input {
    margin: 0 0.2em;
    border-radius: 1em;
    border-color: rgba(0, 0, 0, 0.1);
    color: #000;
}

.formulario .formulario_columnas .formulario_completar .formulario_completar-casilla .formulario_completar-casilla6 .enviar-registro {
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1em;
    border-radius: 1em;
    color: #fff;
    cursor: pointer;
}

.formulario .formulario_columnas .formulario_completar .formulario_completar-firma {
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    margin: 0.5em;
}

.formulario .formulario_columnas .formulario_completar .formulario_completar-firma .formulario_completar-firma-text {
    font-family: 'Carattere', cursive;
}

.formulario .formulario_columnas .formulario_imagen-imagen {
    width: 80%;
}

/* pie de pagina */

.seguinos {
    color: #04C4D9;
    font-weight: 800;
    letter-spacing: 0.5em;
}

.redes {
    display: grid;
    grid-template-rows: 1fr 6fr;
    text-align: center;
    margin: 5em 0;
    gap: 4em 0;
    font-size: 1.5em;
}

.redes-par {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em 1em;
    margin: 1em 2em;
}

.redes-par div {
    background-color: #04C4D9;
    border-radius: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: #F4896B;
    padding: 1em;
    text-align: center;
    font-weight: 800;
    letter-spacing: 0.2em;
    color: #fff;
}